# Byte-compiled files
__pycache__/
*.py[cod]

# Environment variables
.env
*.env

# Virtual environments
venv/
env/
.venv/

# Log files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.spec

# Flask and app-specific files
instance/
*.sqlite3
*.db
output/  # Generated videos or outputs

# Tools
.idea/
.vscode/
*.swp

# Testing and coverage
.coverage
*.coverage.*
htmlcov/
nosetests.xml
test_*.py
.pytest_cache/

# Caches
*.bak
*.cache
