flask
diffusers
transformers
accelerate
torch
torchvision
gtts
moviepy
ffmpeg-python
flask-cors
opencv-python
opencv-python-headless
torchaudio
numpy
av
pyttsx3
diffusers
Pillow
scipy
pytorch-pretrained-biggan
